.section_donate{
    position: relative;
    transform: translateY(4%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 155vh;
    gap: 60vh;
}
.second_par{
    padding-top: 20px;
    padding-bottom: 20px;
    border: 0.15px solid darkred ;
    border-radius: 25px;
    box-shadow: 1px 1px 1.5px darkred;
    width: 48rem;
    height: 150vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}
.second_par h1{
    font-size: 25px;
}
.second_par h3{
    font-size: 19px;
    border-bottom: 2px solid red;
}
.labels{
    font-family: monospace !important;
    font-weight: bold;
}