
.Side_Bar {
    user-select: none;
    position: fixed;
    width: 250px;
    height: 99.5vh;
    border-right: 1px solid rgb(160, 159, 159);
    box-shadow: 0px 3.5px 5px rgb(206, 139, 139);
    /* background-color: #f08080; */
    grid-row: 1/3;
    display: flex;
    flex-direction: column;
}

.logo-dashboard {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}
.logo-dashboard h3{
    color: #CB2C31;
}
.logoo{
    position: relative;
    animation-name: example;
    animation-duration: 5s;
}
.logo-dashboard img {
    
    height: 80px;
    width: 80px;
}
@keyframes example {
        0%   { left:0px; top:0px;}
        25%  { left:90px; top:0px;}
        50%  { left:0px; top:0px;}
}  

.Side_Bar figure {
    width: 100%;
    margin: 20px 0;
    color: var(--color-subtext);
    overflow: hidden;
}

.Side_Bar figcaption {
    font-size: 1.20em;
    font-weight: bold;
    margin-bottom: 10px;
}

.Side_Bar  {
    margin: 0;
    padding: 0;
}

.Side_Bar figcaption,
.Side_Bar .LinkS {
    padding-left: 30px;
}
.Side_Bar .LinkSs{
    padding-left: 30px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.Side_Bar .LinkS.active,
.Side_Bar .LinkS {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1.15em;
    width: 100%;
    height: 40px;
    cursor: pointer;
    color: black;
    text-decoration: none;
}
.Menu .LinkS.active>i,
.Menu .LinkS:hover {
    border-left: 5px solid var(--color-blue) !important;
    border-radius: 2px !important;
    color: var(--color-text) !important;
    background-color: var(--color-mantle) !important;

}

/* .Side_Bar .LinkS a.active,
.Side_Bar .LinkS a:hover {
    border-left: 5px solid var(--color-blue);
    border-radius: 2px;
    color: var(--color-text);
    background-color: var(--color-mantle);
} */

.Side_Bar .settings {
    margin-top: auto;
}
.icon{
    width: 18px;
    height: 18px;
    color:#CB2C31
}